body {
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

li{
    font-size: 18px;
    color: #E5E7EB;
}

.top{
    background-color: black;
    padding-left: 15%;
    padding-right: 15%;
}

li{
    list-style-type: none;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}