body {
    font-family: Roboto;
}
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

li{
    font-size: 18px;
    color: #E5E7EB;
}

.top{
    background-color: black;
}

li{
    list-style-type: none;
}